<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gles.rohit.ogldevandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OglDevAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gles.rohit.Tutorial1.Tutorial1" />
        <activity android:name="com.gles.rohit.Tutorial2.Tutorial2" />
        <activity android:name="com.gles.rohit.Tutorial3.Tutorial3" />
        <activity android:name="com.gles.rohit.tutorial4.Tutorial4"></activity>
    </application>

</manifest>