<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gles.rohit.ogldevandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity android:name=".OglDevAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gles.rohit.Tutorial1.Tutorial1" />
        <activity android:name="com.gles.rohit.Tutorial2.Tutorial2" />
        <activity android:name="com.gles.rohit.Tutorial3.Tutorial3" />
        <activity android:name="com.gles.rohit.Tutorial4.Tutorial4" />
        <activity android:name="com.gles.rohit.Tutorial5.Tutorial5" />
        <activity android:name="com.gles.rohit.Tutorial6.Tutorial6" />
        <activity android:name="com.gles.rohit.Tutorial7.Tutorial7" />
        <activity android:name="com.gles.rohit.Tutorial8.Tutorial8" />
        <activity android:name="com.gles.rohit.Tutorial9.Tutorial9" />
        <activity android:name="com.gles.rohit.Tutorial10.Tutorial10" />
        <activity android:name="com.gles.rohit.Tutorial11.Tutorial11" />
        <activity android:name="com.gles.rohit.Tutorial12.Tutorial12" />
        <activity android:name="com.gles.rohit.Tutorial13.Tutorial13" />
        <activity android:name="com.gles.rohit.Tutorial14.Tutorial14" />
        <activity android:name="com.gles.rohit.Tutorial15.Tutorial15" />
        <activity android:name="com.gles.rohit.Tutorial16.Tutorial16" />
        <activity android:name="com.gles.rohit.Tutorial16B.Tutorial16B" />
        <activity android:name="com.gles.rohit.Tutorial17.Tutorial17" />
        <activity android:name="com.gles.rohit.Tutorial18.Tutorial18" />
        <activity android:name="com.gles.rohit.Tutorial19.Tutorial19" />
        <activity android:name="com.gles.rohit.Tutorial20.Tutorial20" />
        <activity android:name="com.gles.rohit.Tutorial21.Tutorial21" />
        <activity android:name="com.gles.rohit.Tutorial22.Tutorial22"/>
        <activity android:name="com.gles.rohit.Tutorial23.Tutorial23"/>
    </application>

</manifest>